DJANGO_DEBUG_FLAG=True
DJANGO_ENVIRONMENT_NAME=Local_Testing
DJANGO_SETTINGS_MODULE=blankon.settings
DJANGO_SECRET_KEY=__CHANGEME__

# Databases
DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_NAME=__CHANGEME_WITHOUT_DASH__
DB_USERNAME=postgres
DB_PASSWORD=__CHANGEME__
DB_PORT=5432

# Social login
GOOGLE_CLIENT_ID=__CHANGEME__
GOOGLE_CLIENT_SECRET=__CHANGEME__
GOOGLE_CALLBACK_URL=__CHANGEME__
LINKEDIN_CALLBACK_URL=__CHANGEME__